name = "nfl-free-research-pack-v1"
main = "worker/index.js"
compatibility_date = "2026-09-02"
workers_dev = true

[vars]
DATA_BASE_URL = "https://raw.githubusercontent.com/Nstp651/nfl_free_research_pack_v1/main/nfl_free_research_pack_v1/data"
